@use "@styles/utils";

.chat-container {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(16px);
    overflow-y: auto;
    height: utils.pxToRem(400px);
    scrollbar-width: thin;
    scrollbar-color: #ccc #f7f7f7;

    &::-webkit-scrollbar {
        width: utils.pxToRem(8px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: utils.pxToRem(4px);
    }
}

.chat-empty{
    text-align: center;
}