@use "@styles/utils";

.sidebar {
  width: 50%;
  max-height: 80%;
  background-color: #fff;
  padding: utils.pxToRem(20px);
  overflow-y: auto;
  border-bottom-left-radius: utils.pxToRem(12px);
  [data-theme="dark"] & {
    background-color: #2d3748;
    color: #e2e8f0;
  }

  @include utils.media-ltlg(){
    width: 100%;
  }
}
