@use "@styles/utils";

.chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: utils.pxToRem(1px) solid #ddd;

    [data-theme="dark"] & {
        border-top: utils.pxToRem(1px) solid #2D3748;
    }

    .chat-input {
        width: 100%;
        padding: utils.pxToRem(12px);
        border: none;
        height: utils.pxToRem(60px);
        font-size: utils.pxToRem(16px);
        border-bottom-right-radius: utils.pxToRem(12px);

        &::placeholder {
            color: #6c757d; // Placeholder en modo claro
        }

        [data-theme="dark"] & {
            background-color: #2D3748;
            color: #e2e8f0; // Texto del input en modo oscuro

            &::placeholder {
                color: #a0aec0; // Placeholder en modo oscuro
            }
        }

        &.crear {
            border-color: #28a745;
        }

        &.editar {
            border-color: #ffc107;
        }

        &.borrar {
            border-color: #dc3545;
        }
    }

    .chat-command {
        position: absolute;
        right: utils.pxToRem(16px);
        top: 50%;
        transform: translateY(-50%);
        padding: utils.pxToRem(4px) utils.pxToRem(8px);
        font-weight: bold;
        font-size: utils.pxToRem(14px);
        color: #fff;

        &.crear {
            background-color: #28a745;
        }

        &.editar {
            background-color: #ffc107;
        }

        &.borrar {
            background-color: #dc3545;
        }
    }
}
