@use "@styles/utils";

.chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: utils.pxToRem(1px) solid #ddd;

    [data-theme="dark"] & {
        border-top: utils.pxToRem(1px) solid #2D3748;
    }

    .chat-input {
        width: 100%;
        padding: utils.pxToRem(12px);
        border: none;
        height: utils.pxToRem(60px);
        font-size: utils.pxToRem(16px);
        border-bottom-right-radius: utils.pxToRem(12px);

        &::placeholder {
            color: #6c757d;
        }

        [data-theme="dark"] & {
            background-color: #2D3748;
            color: #e2e8f0;

            &::placeholder {
                color: #a0aec0;
            }
        }

        &.crear {
            border-color: #28a745;
        }

        &.editar {
            border-color: #ffc107;
        }

        &.borrar {
            border-color: #dc3545;
        }
    }

    .chat-command {
        position: absolute;
        left: utils.pxToRem(10px);
        top: 50%;
        border-radius: utils.pxToRem(8px);
        transform: translateY(-50%);
        padding: utils.pxToRem(4px) utils.pxToRem(8px);
        font-weight: bold;
        font-size: utils.pxToRem(14px);
        color: #fff;

        &.crear {
            background-color: #28a745;
        }

        &.editar {
            background-color: #ffc107;
        }

        &.borrar {
            background-color: #dc3545;
        }
    }
}


.chat-command.borrar {
    background-color: #dc3545;
  }
  
  .chat-command.borrar::before {
    content: "Confirme: ";
    font-weight: normal;
  }
  
  .chat-help {
    position: absolute;
    bottom: calc(100% + utils.pxToRem(8px));
    left: 0;
    width: 100%;
    background: #fff;
    border: utils.pxToRem(1px) solid #ddd;
    border-radius: utils.pxToRem(8px);
    padding: utils.pxToRem(12px);
    font-size: utils.pxToRem(14px);
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    p {
      font-weight: bold;
      margin-bottom: utils.pxToRem(8px);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: utils.pxToRem(4px);
        font-weight: normal;

        strong {
          color: #007bff;
        }
      }
    }

    [data-theme="dark"] & {
      background: #2d3748;
      color: #e2e8f0;
      border-color: #4a5568;

      strong {
        color: #63b3ed;
      }
    }
  }
