@use '../variables';

:root {
	--Primary-Indigo: #{variables.$color-primary-indigo};
	--Primary-Light-blue: #{variables.$color-primary-light-blue};
	--Primary-Pure-white: #{variables.$color-primary-pure-white};
	--Secondary-Better-Way-blue: #{variables.$color-secondary-better-way-blue};
	--Secondary-Medium-blue: #{variables.$color-secondary-medium-blue};
	--Secondary-Text-blue: #{variables.$color-secondary-text-blue};
	--Tertiary-Red500: #{variables.$color-tertiary-red500};
	--Tertiary-Red400: #{variables.$color-tertiary-red400};
	--Tertiary-Red300: #{variables.$color-tertiary-red300};
	--Tertiary-Red200: #{variables.$color-tertiary-red200};
	--Tertiary-Red100: #{variables.$color-tertiary-red100};
	--Tertiary-Orange500: #{variables.$color-tertiary-orange500};
	--Tertiary-Orange400: #{variables.$color-tertiary-orange400};
	--Tertiary-Orange300: #{variables.$color-tertiary-orange300};
	--Tertiary-Yellow500: #{variables.$color-tertiary-yellow500};
	--Tertiary-Yellow400: #{variables.$color-tertiary-yellow400};
	--Tertiary-Yellow300: #{variables.$color-tertiary-yellow300};
	--Tertiary-Green500: #{variables.$color-tertiary-green500};
	--Tertiary-Green400: #{variables.$color-tertiary-green400};
	--Tertiary-Green300: #{variables.$color-tertiary-green300};
	--Tertiary-Indigo500: #{variables.$color-tertiary-indigo500};
	--Tertiary-Indigo400: #{variables.$color-tertiary-indigo400};
	--Neutral-Black: #{variables.$color-secondary-neutral-black};
	--Neutral-Gray500: #{variables.$color-secondary-neutral-gray500};
	--Neutral-Gray400: #{variables.$color-secondary-neutral-gray400};
	--Neutral-Gray300: #{variables.$color-secondary-neutral-gray300};
	--Neutral-Gray200: #{variables.$color-secondary-neutral-gray200};
	--Neutral-Gray100: #{variables.$color-secondary-neutral-gray100};
	--Annotation-Pink: #{variables.$color-annotation-pink};
	--Annotation-Blue: #{variables.$color-annotation-blue};
}
