@use "@styles/utils";

.chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: utils.pxToRem(1px) solid #ddd;
    
    [data-theme="dark"] & {
        border-top: utils.pxToRem(1px) solid #2D3748;
    }

    .chat-input {
        width: 100%;
        padding: utils.pxToRem(12px);
        border: none;
        height: utils.pxToRem(60px);
        font-size: utils.pxToRem(16px);
        border-bottom-right-radius: utils.pxToRem(12px);
        
        [data-theme="dark"] & {
            background-color: #2D3748;
        }

        &.crear {
            border-color: #28a745;
        }

        &.editar {
            border-color: #ffc107;
        }

        &.borrar {
            border-color: #dc3545;
        }
    }

    .chat-command {
        position: absolute;
        right: utils.pxToRem(16px);
        top: 50%;
        transform: translateY(-50%);
        padding: utils.pxToRem(4px) utils.pxToRem(8px);
        font-weight: bold;
        font-size: utils.pxToRem(14px);
        color: #fff;

        &.crear {
            background-color: #28a745;
        }

        &.editar {
            background-color: #ffc107;
        }

        &.borrar {
            background-color: #dc3545;
        }
    }
}

.message {
    background-color: #fff;
    border-radius: 12px;
    margin: 0 utils.pxToRem(16px);
    padding: utils.pxToRem(20px);
    transition:
        transform 0.2s,
        box-shadow 0.2s,
        border-left 0.2s;

    [data-theme="dark"] & {
        background-color: #484c54;
    }

    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
    }

    &.message-selected {
        border-left: utils.pxToRem(4px) solid #007bff;
    }

    &.message-warning {
        background-color: #fff3cd;
        border-left: utils.pxToRem(4px) solid #ffc107;

        [data-theme="dark"] & {
            color: black;
        }
    }

    &.message-overdue {
        background-color: #f8d7da;
        border-left: utils.pxToRem(4px) solid #dc3545;

        [data-theme="dark"] & {
            color: black;
        }
    }

    &:not(.message-warning):not(.message-overdue) {
        border-left: utils.pxToRem(4px) solid #1a202c;
        background-color: #f0f0f0;

        [data-theme="dark"] & {
            background-color: #2d3748;
            color: white;
        }
    }

    .message-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: utils.pxToRem(12px);

        .message-title-container {
            display: flex;
            flex-direction: column;
        }

        .message-title {
            font-weight: bold;
            color: #333;
            margin: 0;

            [data-theme="dark"] & {
                color: inherit;
            }
        }

        .message-time {
            font-size: utils.pxToRem(14px);
            color: #666;

            [data-theme="dark"] & {
                color: inherit;
            }
        }
    }

    .message-content {
        p {
            margin: utils.pxToRem(4px) 0;
            font-size: utils.pxToRem(16px);
            color: #333;

            [data-theme="dark"] & {
                color: inherit;
            }
        }

        .message-due-date {
            font-size: utils.pxToRem(14px);
            color: #555;

            [data-theme="dark"] & {
                color: inherit;
            }
        }

        .message-status {
            display: inline-block;
            padding: utils.pxToRem(4px) utils.pxToRem(8px);
            border-radius: utils.pxToRem(8px);
            font-size: utils.pxToRem(14px);
            font-weight: bold;

            &.overdue {
                background-color: #dc3545;
                color: #fff;

                [data-theme="dark"] & {
                    color: white;
                }
            }

            &.warning {
                background-color: #ffc107;
                color: #fff;

                [data-theme="dark"] & {
                    color: white;
                }
            }
        }
    }
}


.icon {
    width: utils.pxToRem(24px);
    height: utils.pxToRem(24px);
    margin-left: utils.pxToRem(8px);
    color: #484c54;
    cursor: pointer;
    transition: color 0.3s;
    
    [data-theme="dark"] & {
        color: #ccc;
    }

}
.edit-icon, .delete-icon{
    color: #ccc;
    background-color: #7f5fff;
    border-radius: 5px;
    padding: 2px;
}

.message-status-tag {
    display: inline-block;
    padding: utils.pxToRem(4px) utils.pxToRem(8px);
    border-radius: utils.pxToRem(8px);
    font-size: utils.pxToRem(12px);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: utils.pxToRem(8px);
    text-transform: capitalize;
  
    &.open {
      background-color: #6c757d;
      color: #fff;
    }
  
    &.in-progress {
      background-color: #007bff;
      color: #fff;
    }
  
    &.completed {
      background-color: #28a745;
      color: #fff;
      text-decoration: line-through;
    }
  
    &.overdue {
      background-color: #dc3545;
      color: #fff;
    }
  }
  