/* COLORS - FIGMA PALETTE */
$color-primary-indigo: #001d9b;
$color-primary-light-blue: #ddeef5;
$color-primary-pure-white: #fff;
$color-secondary-better-way-blue: #2e6baf;
$color-secondary-medium-blue: #6ba3da;
$color-secondary-text-blue: #3d404d;
$color-tertiary-red500: #de150c;
$color-tertiary-red400: #ffa19c;
$color-tertiary-red300: #fac0bd;
$color-tertiary-red200: #fcdad8;
$color-tertiary-red100: #fdeeed;
$color-tertiary-orange500: #ea4515;
$color-tertiary-orange400: #eb5023;
$color-tertiary-orange300: #f77b2f;
$color-tertiary-yellow500: #fcbe2d;
$color-tertiary-yellow700: #f2ba38;
$color-tertiary-yellow600: #ffc439;
$color-tertiary-yellow400: #ffed94;
$color-tertiary-yellow300: #fff7cc;
$color-tertiary-green500: #00b59f;
$color-tertiary-green400: #9bdddb;
$color-tertiary-green300: #b2e9e2;
$color-tertiary-indigo500: #001252;
$color-tertiary-indigo400: #00176b;
$color-secondary-neutral-black: #161616;
$color-secondary-neutral-gray500: #89929c;
$color-secondary-neutral-gray700: #2c2e2f;
$color-secondary-neutral-gray600: #565859;
$color-secondary-neutral-gray400: #aeb8c2;
$color-secondary-neutral-gray300: #d3dbe3;
$color-secondary-neutral-gray200: #e9edf2;
$color-secondary-neutral-gray100: #f0f4f7;
$color-secondary-neutral-gray50: #eeeeee;
$color-secondary-neutral-gray25: #e2e2e2;
$color-annotation-pink: #ce1cb3;
$color-annotation-blue: #4dc6fa;
$color-annotation-brown: #7d673f;
$color-annotation-grey: #7e8384;
/* COLORS - OTHER */
$color-error-border: $color-tertiary-red500;
$color-error-bg: $color-tertiary-red200;
