@use "@styles/utils";

.task-form {
    max-width: utils.pxToRem(800px);
    margin: auto;
    background-color: utils.$white;
    color: utils.$dim-gray;

    [data-theme="dark"] & {
        background-color: utils.$dark-charcoal;
        color: utils.$light-silver;
    }

    &-error {
        color: utils.$tomato;
        font-size: utils.pxToRem(14px);
        margin-bottom: utils.pxToRem(16px);
    }
}
