@use "@styles/utils";

.task-form {
    max-width: utils.pxToRem(800px);
    margin: auto;
    background-color: #ffffff;
    color: #333;

    [data-theme="dark"] & {
        background-color: #2d3748;
        color: #e2e8f0;
    }

    &-error {
        color: #e53e3e;
        font-size: utils.pxToRem(14px);
        margin-bottom: utils.pxToRem(16px);
      }
}

