@use "@styles/utils";

.task-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: utils.pxToRem(20px);

    button {
        padding: utils.pxToRem(12px) utils.pxToRem(24px);
        font-size: utils.pxToRem(16px);
        border-radius: utils.pxToRem(8px);
        cursor: pointer;
        transition: background-color 0.3s;

        &.cancel {
            background-color: utils.$grayish-white;
            border: none;

            &:hover {
                background-color: utils.$silver;
            }

            [data-theme="dark"] & {
                background-color: utils.$cool-gray;
                color: utils.$light-silver;

                &:hover {
                    background-color: utils.$gunmetal;
                }
            }
        }

        &.save {
            background-color: utils.$violet;
            color: utils.$white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

            &.save:hover {
                background-color: utils.$electric-purple;
            }

            [data-theme="dark"] & {
                background-color: utils.$amethyst;

                &:hover {
                    background-color: utils.$lavender-blue;
                }
            }
        }
    }
}
